.sidebar {
  background: linear-gradient(179.62deg, #007acc 23.91%, #003d66 112.47%);
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slideDown 0.3s ease-out;
}

/*-------------------
 login style 
 --------------------*/

.login {
  background: url("/images/login/background.png") no-repeat center center;
  background-size: cover;
  padding: 80px 80px;
  border-radius: 8px;
  position: relative;
}
.login_img {
  padding: 80px 80px 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: grid;
  place-items: center;
  place-content: end;
  animation: floatAnimation 6s ease-in-out infinite;
  animation-delay: 2s;
}
.login_img img {
  width: 100%;
}
.flying_logo img {
  width: 100px;
  height: 100px;
  position: absolute;
  position: absolute;
  animation: floatAnimation 6s ease-in-out infinite;
}
.flying_logo img:first-child {
  left: 20px;
  bottom: 20%;
  animation-delay: 0s;
}
.flying_logo img:last-child {
  right: 20px;
  top: 20%;
  animation-delay: 1s;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0); /* Starting position */
  }
  50% {
    transform: translateY(-20px); /* Moves up */
  }
  100% {
    transform: translateY(0); /* Moves back down */
  }
}

.logo {
  display: grid;
  place-items: center;
  place-content: center;
}
.logo img {
  width: 40%;
  object-fit: contain;
}

.login_content input {
  padding: 20px;
  display: block;
  width: 100%;
  border: 2px solid #007acc;
  border-radius: var(--borderRadius);
  color: var(--primery);
}

.login_content label span {
  color: red;
  padding-left: 5pxZZZ;
}

.login_content {
  padding: 0px 160px;
  height: 100%;
  display: grid;
  place-content: center;
}
.login_btn {
  padding: 20px;
  width: 100%;
  margin-top: 20px;
  border-radius: var(--borderRadius);
}
.forgot {
  display: grid;
  place-items: end;
}
.forgot a {
  font-size: 16px;
  color: var(--primery);
  font-weight: 700;
}
/*-------------------
 Types page style 
 --------------------*/
.type_form input,
.type_form select,
.type_form .css-b62m3t-container {
  margin: 0 !important;
}
.type_form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  place-content: center;
}
.type_form input {
  border: 1px solid #ccc;
  font-weight: bold;
}
.type_form select {
  width: 100%;
  padding: 20px;
  border: 2px solid #282c35;
  margin-top: 10px;
  border-radius: var(--borderRadius);
  color: var(--primery);
}
.filter-option {
  position: absolute;
  right: 0;
  top: 60px;
  display: grid;
  gap: 10px;
  padding: 20px;
  background: var(--primery);
  border-radius: var(--borderRadius);
}
.filter-option button {
  text-align: right;
}
.tables {
  padding: 40px;
  margin-top: 30px;
  border: 1px solid #d3cbfb;
  box-shadow: #d3cbfbb1 0px 2px 8px 0px;
  border-radius: var(--borderRadius);
}
.table-content thead {
  background: #fafafa;
  border-radius: var(--borderRadius);
}
.table-content thead tr {
  border-radius: var(--borderRadius);
}
.table-content thead th {
  padding: 10px;
  color: var(--primery);
  text-align: left;
  font-weight: 700;
}
.table-content thead th:last-child {
  text-align: end;
}
.table-content tr td {
  padding: 10px;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
}
.table-content tr td:last-child {
  text-align: end;
}
.file_upload {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #35095e, #6f13c4);
  padding: 1rem 3rem;
  margin: 0;
  border-radius: 0.5rem;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.file_icon {
  background: linear-gradient(to top, #35095e, #6f13c4);
  padding: 10px;
  border-radius: 100px;
}
/* Add this to styles.css or inside your global CSS */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
/*-------------------
 tabs page style 
 --------------------*/

.tabs {
  padding: 30px;
  background: #fff;
  border-radius: 50px;
  display: flex;
}
.tab {
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 50px;
  font-weight: 600;
  transition: 0.4s all ease-in-out;
}

.tab:hover {
  background: #007acc;
  cursor: pointer;
  color: #fff;
}

.tab:hover span {
  color: #fff;
}
/*-------------------
 subject page style 
 --------------------*/
.subject_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: baseline;
  gap: 20px;
}
.subject_card {
  width: 100%;
  padding: 40px 30px;
  border-radius: var(--borderRadius);
  gap: 10px;
}
.subject-card-inner {
  display: flex;
  justify-content: space-between;
}

.portion-card-inner {
  display: flex;
  justify-content: space-between;
}
.subject_card h2 {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
}

.subject-card-inner img {
  width: 110px;
  height: 110px;
  object-fit: contain;
}

.chapter-card-inner {
  display: flex;
  justify-content: space-between;
}

.chapter-card-inner img {
  width: 85px;
  height: 85px;
  object-fit: contain;
}

.study-material-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.inside_practice .subject_card {
  height: 100%;
}

.chapter_cards_card {
  height: 250px !important;
}

.subject_card p {
  font-weight: 500;
}
.subject_card a {
  color: #6712b7;
  border: 2px solid #6712b7;
  padding: 10px;
  border-radius: 6px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.subject_card a:hover {
  background: linear-gradient(
    18deg,
    rgba(53, 9, 94, 1) 0%,
    rgba(111, 19, 196, 1) 55%
  );
  color: #fff;
}
.subject_card button {
  background: #fff;
  padding: 10px;
  border-radius: 40px;
  font-weight: 600;
  text-align: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.subject_card button:last-child {
  background: #fff;
  display: flex;
  justify-content: center;
  gap: 9px;
  align-items: anchor-center;
}

.subject_card button:last-child:hover svg {
  fill: #6712b7 !important;
  color: #6712b7 !important;
}
/*-------------------
 chapter page style 
 --------------------*/
.chapter_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: baseline;
  gap: 20px;
  padding: 0 0px 0 0;
}
.btns_group {
  display: grid;
  gap: 10px;
}
/*-------------------
 topic page style 
 --------------------*/
.topic_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: flex-start;
  place-content: center;
  gap: 20px;
  align-items: end;
}

.topic_card {
  background: #ffffff;
  width: 100%;
  padding: 20px 10px;
  border-radius: var(--borderRadius);
  display: flex;
  align-items: baseline;
  gap: 3px;
  height: 100%;
  border: 1.5px solid #007acc80;
  align-items: center;
}
.topic_card input {
  height: 20px;
  position: relative;
  width: 20px;
}
.topic_card label {
  width: 90%;
}
.attemtpt-checkbox input {
  width: 28px !important;
  height: 28px !important;
  padding: 0;
}
input[type="checkbox"] {
  accent-color: #017bcd; /* Changes the checkbox color */
}
/*-------------------
 Test page style 
 --------------------*/

.question_popup {
  background: #fff;
  border-radius: var(--borderRadius);
  padding: 30px;
  width: 40%;
  margin: auto;
}
.question_popup h2 {
  text-align: center;
  color: var(--secondry);
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}
.question_popup label {
  display: flex;
  justify-self: center;
  align-self: center;
  gap: 10px;
  padding: 0 0 10px;
}
.question_popup label input {
  width: 30px;
  height: 20px;
  position: relative;
  top: 3px;
}

.question_popup ul {
  list-style: decimal;
  padding: 0 60px 20px;
  display: grid;
  gap: 10px;
}

/*-------------------
 Partics test page style 
 --------------------*/

.test_containers {
  display: flex;
  align-self: start;
  gap: 30px;
  margin-top: 40px;
}
.test_containerss {
  display: grid;
  gap: 30px;
  margin: 40px 0;
}
.navborders {
  box-shadow: 0 2px 8px #d3cbfb33;
  border: 1px solid #d3cbfb6a;
  border-radius: var(--borderRadius);
}
.question-navigation::-webkit-scrollbar {
  height: 8px;
}
.question-navigation::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.question-navigation::-webkit-scrollbar-thumb {
  background: #35095e;

  border-radius: 10px;
}
.question-navigation::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.test_container1 {
  width: 100%;
  box-shadow: rgba(211, 203, 251, 0.2) 0px 2px 8px 0px;
  border: 1px solid #d3cbfb6a;
  border-radius: var(--borderRadius);
  padding: 40px;
}

.test_container1 h2 {
  color: var(--primery);
  font-size: 24px;
  font-weight: 500;
}
.test_container1 p,
.test_container1 div {
  /* color: var(--text); */
  font-size: 20px !important;
  font-weight: 500;
}

.option_btns {
  display: grid;
  gap: 10px;
  padding: 20px 0;
}
.option_btns .active p,
.option_btns .active div {
  color: #fff;
}
.option_label {
  border: 1px solid #c5b5ce;
  background: #fffafa;
  color: var(--primery);
  font-weight: 700;
  font-size: 20px;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 50%;
}
.option_btns button div {
  font-size: 18px;
}
.option_btns span,
.option_btns p,
.option_btns div {
  font-size: 18px;
}

.hint {
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
  font-size: 20px;
  font-weight: 600;
}
.nav_btns {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.nav_btns button:last-child {
  background: #34c534;
  color: #fff;
  padding: 6px 80px;
  box-shadow: 0px 4px 8px 0px #00000040, -1px 15px 15px 0px #00000036,
    -3px 34px 20px 0px #00000021, -5px 60px 24px 0px #0000000a,
    -7px 94px 26px 0px #00000000;
}

.nav_btns button {
  color: #34c534;
  border: 2px solid #34c534;
  background: #fff;
  padding: 6px 20px;
  border-radius: 30px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}
.nav_btns button:hover {
  background: #34c534;
  color: #fff;
}
.nav_btns button:last-child:hover {
  background-color: rgb(22 163 74 / var(--tw-bg-opacity, 1));
  border: rgb(22 163 74) solid;
}

/* Test_container2 styles */

.test_container2 {
  width: 40%;
  box-shadow: rgba(211, 203, 251, 0.2) 0px 2px 8px 0px;
  border: 1px solid #d3cbfb6a;
  border-radius: var(--borderRadius);
  padding: 20px;
  height: 75vh;
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}
.test_container2::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.test_container2::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255);
  border-radius: 10px;
}

/* Handle */
.test_container2::-webkit-scrollbar-thumb {
  background: var(--primery);
  border-radius: 10px;
}

/* Handle on hover */
.test_container2::-webkit-scrollbar-thumb:hover {
  background: var(--primery);
}
.answer_label {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px 15px;
}
.answer_label li {
  font-family: 20px;
  font-weight: 500;
  position: relative;
}
.answer_label li::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 5.5px;
  left: -17px;
}

.rounded_navs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 17px;
  place-items: center;
  overflow-x: auto;
  scroll-snap-type: x proximity;
  padding-bottom: 10px;
  -webkit-overflow-scrolling: touch;
}
.rounded_navs button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  flex: 0 0 auto;
}
.question_popup h3 {
  color: var(--text);
  font-size: 22px;
}

.question_option a,
.test_container1 a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #000;
}

.qution_text {
  color: var(--text);
  font-size: 20px !important;
  font-weight: 500;
}

/*-------------------
 portion page style 
 --------------------*/
.portion_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: baseline;
  gap: 20px;
}
.portion_card {
  width: 100%;
  padding: 40px 30px;
  border-radius: var(--borderRadius);
  gap: 10px;
}
.portion_card h2 {
  color: var(--text);
  font-size: 22px;
  font-weight: 500;
}
.portion_card a {
  background: linear-gradient(
    18deg,
    rgba(53, 9, 94, 1) 0%,
    rgba(111, 19, 196, 1) 55%
  );
  color: #fff;
  border: 2px solid #6712b7;
  padding: 10px;
  border-radius: 6px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
}
.portion_card .btns_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.portion_card a:hover {
  background: linear-gradient(
    18deg,
    rgba(53, 9, 94, 1) 0%,
    rgba(111, 19, 196, 1) 55%
  );
  color: #fff;
}
.portion_card button {
  color: #6712b7;
  border: 2px solid #6712b7;
  background: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
}
.portion_card button:hover {
  background: linear-gradient(
    18deg,
    rgba(53, 9, 94, 1) 0%,
    rgba(111, 19, 196, 1) 55%
  );
  color: #fff;
}
.portion_card button:last-child {
  background: linear-gradient(
    18deg,
    rgba(53, 9, 94, 1) 0%,
    rgba(111, 19, 196, 1) 55%
  );
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 9px;
  align-items: anchor-center;
}
.portion_card button:last-child:hover {
  color: #6712b7;
  border: 2px solid #6712b7;
  background: #fff;
}

.portion_card button:last-child:hover svg {
  color: #6712b7 !important;
  fill: #6712b7;
}
.stf__parent canvas {
  width: 500px !important;
  height: 660px !important;
}

.questionadd {
  display: flex;
  gap: 40px;
  padding-bottom: 20px;
}
.questionadd .css-b62m3t-container {
  width: 100%;
}
.questionform {
  padding: 30px;
  border-radius: var(--borderRadius);
  border: 1px solid #d3cbfb;
  box-shadow: 0 2px 8px #d3cbfbb1;
}
.questionform textarea {
  width: 100%;
  height: 150px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: var(--borderRadius);
}
.questionform input {
  width: 100%;
  height: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: var(--borderRadius);
  margin-bottom: 20px;
}
.questionform input {
  margin-top: 20px;
}

/* Full test style */

.above_score {
  justify-content: center;
  display: flex;
  gap: 30px;
}
.ascore_content {
  padding: 20px;
  border: 1px solid #d3cbfb;
  border-radius: var(--borderRadius);
  text-align: center;
  display: grid;
  place-items: center;
  width: 35%;
}
.ascore_content p {
  color: #282c35;
  font-size: 18px;
  font-weight: 600;
}
.ascore_content:first-child span {
  color: #35095e;
  font-size: 45px;
  font-weight: 700;
}
.ascore_content:last-child span {
  color: #ff0000;
  font-size: 20px;
  font-weight: 700;
}
.below_scroe {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.bscore_content {
  padding: 20px;
  border-radius: var(--borderRadius);
}

/* Test subject */

.custom-chap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.subject_card {
  width: 100%;
  padding: 40px 30px;
  border-radius: 16px;
  display: grid;
  gap: 10px;
}

.test_btn {
  border: 2px solid #31ca31;
  background: #31ca31;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 4px 8px 0px #00000040;
}

.test_btn:hover {
  border: 2px solid #31ca31;
  background: transparent;
  color: #31ca31;
  transition: all 0.3s ease-in-out;
}

.selected .question_option p,
.selected .question_option span {
  color: #fff !important;
}
.bscore_content * {
  color: #fff;
  text-align: center;
  display: block;
}
.bscore_content p {
  font-size: 18px;
}
.bscore_content span {
  font-size: 30px;
  font-weight: 600;
}
.wrong_an {
  border: 1px solid #d3cbfb;
  border-radius: var(--borderRadius);
  padding: 40px;
  width: 50%;
  margin: 40px auto;
}
.wrong_an h2 {
  text-align: center;
  color: var(--primery);
  font-size: 20px;
}
.slected_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.slick-slide {
  height: auto !important;
}
.custom_shadow {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    169deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(235, 215, 255, 0.815091002221201) 51%
  );
}
tr {
  border: none;
}
.slick-track {
  margin-left: inherit !important;
  margin-right: inherit !important;
}

.favorite-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #ccc;
}

.favorite-btn.favorited {
  color: gold;
}
.question_option * {
  font-size: 20px !important;
}
/* Custom slider styles */
.banner-slider-container {
  margin: 0 auto;
  padding: 20px 0;
}

.slick-prev:before,
.slick-next:before {
  color: #000;
}

.slick-dots li button:before {
  color: #fff;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 1;
}
.chapter_cardss {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: baseline;
  gap: 20px;
  padding: 0 0px 0 0;
}

.topicc_card {
  background: snow;
  width: 100%;
  padding: 20px;
  border-radius: var(--borderRadius);
  display: grid;
  gap: 10px;
  height: 100%;
  border: 1px solid #35095e61;
}

.hint-section {
  padding: 20px;
  background: #ffffff;
  border-radius: var(--borderRadius);
  border: 1px solid #d3cbfb6a;
  box-shadow: 0 2px 8px #590f9d4a;
}

.notvisited-label {
  color: black !important;
}

/*  */

.table-scroll-container {
  position: relative;
}

.scroll-indicator {
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 20px;
  display: none;
}

@media (max-width: 768px) {
  .scroll-indicator {
    display: block;
    pointer-events: none;
  }
}

.move-arrow {
  font-size: 24px;
  color: #ff3636;
  display: inline-block;
  animation: moveRight 1.5s ease-in-out infinite;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
    opacity: 0.4;
  }
  50% {
    transform: translateX(20px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0.4;
  }
}
